article {
    background-color: black !important;
    background-image: url(/source/Layer\ 1.svg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top 5vh right 50%;
   
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

