@page "/error"


<div class="style-wrapper">
    <Header></Header>
    <p role="alert" style="color:white;text-align:center;margin-top:15px;font-size:23px;">Sorry, there's nothing at this address.</p>
</div>


@code {

}
