@page "/profile/history"
@inject NavigationManager nav
<div class="style-wrapper">
    <Header/>
    <ProfileNav PageId="2"/>
    <div class="history d-flex flex-column align-items-center">
        <div class="history__naming d-flex align-items-center justify-content-around">
            <span>id:</span>
            <span>time:</span>
            <span>mode:</span>
        </div>
        <div class="history__cell d-flex align-items-center justify-content-between">
            <span>1213</span>
            <span>12.02.2023 20:23</span>
            <span>default</span>
        </div>
        <div class="history__cell d-flex align-items-center justify-content-between">
            <span>1213</span>
            <span>12.02.2023 20:23</span>
            <span>default</span>
        </div>
        <div class="history__cell d-flex align-items-center justify-content-between">
            <span>1213</span>
            <span>12.02.2023 20:23</span>
            <span>default</span>
        </div>
        <div class="history__cell d-flex align-items-center justify-content-between">
            <span>1213</span>
            <span>12.02.2023 20:23</span>
            <span>default</span>
        </div>
    </div>
</div>
