.style-wrapper {
    min-height: 100vh;
    height: 100%;
    padding-bottom: 5vh;
    --s14: 14px;
    --s16: 16px;
    --s18: 18px;
    --s20: 20px;
    --s24: 24px;
    --s28: 28px;
    --s30: 30px;
    --s40: 40px;
    --s50: 50px;
    --s60: 60px;

    span, h1, a {
        color: white;
    }

    h1 {
        position: absolute;
        color: white;
        width: 50vw;
        top: 30vh;
        left: 10vw;
    }

    .block {
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .btn-purple {
        background-color: #7000FF;
        border: none;
        width: 20vw;
        height: 7vh;
        border-radius: 5px;

        span {
            font-size: var(--s30);
            font-weight: 600;
        }
    }


    .history {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6vh;

        .history__naming {
            width: 100%;
            margin-bottom: 2.5vh;

            span {
                color: white;
            }
        }

        .history__cell {
            width: 100%;
            border: 1px solid white;
            border-radius: 5vw;
            padding: 4vh 4vw 4vh 4vw;
            margin-bottom: 4vh;

            span {
                color: white;
            }
        }
    }
}
@media screen and (max-width: 1250px) {
    .style-wrapper {
        --s50: 40px;
    }

    .btn-purple {
        height: 5vh !important;
    }
}

@media screen and (max-width: 980px) {
    .style-wrapper {
        --s30: 18px;
        --s50: 38px;
    }

    .history {
        width: 60% !important;
    }
}

@media screen and (max-width: 767px) {
    .style-wrapper {
        --s20: 16px;
    }

    .history {
        width: 75% !important;
    }
}

@media screen and (max-height: 600px) {
    .btn-purple {
        height: 15vh !important;
    }
}

@media screen and (max-width: 520px) {
    .style-wrapper {
        --s14: 14px;
        --s16: 16px;
        --s18: 20px;
        --s20: 14px;
        --s40: 30px;
        --s50: 20px;
    }

    .history {
        width: 90% !important;

        .history__cell {
            border-radius: 10vw !important;
        }
    }
}
