@page "/login"


<PageTitle>login</PageTitle>
<div class="style-wrapper">
    <Header />
    @if (ShowLogin)
    {
        <LoginForm ForgotPass="OpenRestorePass" />
    }
    @if (ShowRestorePassword)
    {
        <RestorePasswordForm ShowLogin="ReturnToLogin" ShowNewPassword="()=>ShowNewPassword = true" />
    }
    @if (ShowNewPassword)
    {
        <NewPassword ShowLogin="ReturnToLogin" />
    }
</div>
@code {
    private bool ShowLogin = true;
    private bool ShowRestorePassword = false;
    private bool ShowNewPassword = false;
    private void OpenRestorePass()
    {
        ShowRestorePassword = true;
        ShowLogin = false;
    }
    private void ReturnToLogin()
    {
        ShowRestorePassword = false;
        ShowNewPassword = false;
        ShowLogin = true;
    }

}
