@page "/profile"
<div class="style-wrapper">
    <Header/>
    <ProfileNav PageId="1"/>
    <div class="profile d-flex flex-column align-items-center">
        <div class="profile__row">
            <span class="paragraph">first name:</span>
            <input type="text" placeholder="first name">
        </div>
        <div class="profile__row">
            <span class="paragraph">last name:</span>
            <input type="text" placeholder="last name">
        </div>
        <div class="profile__row">
            <span class="paragraph">email:</span>
            <input type="text" placeholder="user@gmail.com">
        </div>
        <div class="profile__row">
            <span class="paragraph">password:</span>
            <input type="password" placeholder="********">
        </div>
        <button class="btn-purple"><span>EDIT</span></button>
    </div>

</div>