@page "/registration"

<PageTitle>registration</PageTitle>
<div class="style-wrapper">
    <Header/>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, fugit!</h1>
    <div class="login d-flex flex-column align-items-center">
        <span class="paragraph" style="margin-bottom: 1vh;text-align: center;">CREATE NEW <p>ACCOUNT</p> </span>
        <div class="d-flex flex-column">
            <input type="text" class="form-control" placeholder="email">
            <input type="text" class="form-control" placeholder="first name">
            <input type="text" class="form-control" placeholder="last name">
            <div style="position: relative;">
                <input type="text" class="form-control" placeholder="password">
                <img style="position: absolute; right: 1vw; bottom: 1.25vh;" src="/source/icons/eye.svg" alt="show">
                <img style="position: absolute; right: 1vw; bottom: 1.25vh; display: none;" src="/source/icons/eye slash.svg" alt="hiden">
            </div>
            <div style="position: relative;">
                <input type="text" class="form-control" placeholder="repeat password">
                <img style="position: absolute; right: 1vw; bottom: 1.25vh; display: none;" src="/source/icons/eye.svg" alt="show">
                <img style="position: absolute; right: 1vw; bottom: 1.25vh;" src="/source/icons/eye slash.svg" alt="hiden">
            </div>
            <a href="" style="margin-top: 1vh; margin-bottom: 3vh; font-size: 14px;">forgot the password?</a>
        </div>
        <button class="btn-purple"><span>REGISTRATION</span></button>
        <span>already have account?</span>
        <a href="/login">login</a>
    </div>
</div>
