@page "/reset-password"
@inject HttpClient HttpClient

<h3>Reset Password Page</h3>

<EditForm Model="passwordForm" OnValidSubmit="ChangePassword" class="col-4">
    <div class="form-group mb-3">
        <label>New password</label>
        <InputText type="password" class="form-control" @bind-Value="passwordForm.Password"></InputText>
    </div>
    <div class="form-group mb-3">
         <label>Repeat password</label>
        <InputText type="password" class="form-control" @bind-Value="passwordForm.RepeatPassword"></InputText>
    </div>
    <button class="btn btn-primary" type="submit">Change</button>
</EditForm>

<p>@Code</p>
@code {
    class PasswordDto
    {
        public string Password { get; set; } = string.Empty;
        public string RepeatPassword { get; set; } = string.Empty;
    }

    private PasswordDto passwordForm = new();
    [Parameter, SupplyParameterFromQuery] public string Code { get; set; } = string.Empty;

    private async Task ChangePassword()
    {
        var response = await HttpClient.PostAsync(HttpClient.BaseAddress + $"api/User/reset-password/confirm?code={Code}", null);
    }
}
