<div class="d-flex flex-column justify-content-between" style="min-height=100vh;">

    <header class="justify-content-between align-items-center ps-5 pe-5 pt-4 pb-4">
        <span style="color: #8B44FF;">BRAVO TEAM</span>
        <div class="d-flex align-items-center">
            <img class="me-5" src="/source/icons/Qr Code.svg" alt="home page">
            <img style="margin-top: 5px;" src="/source/icons/User.svg" alt="user profile">
        </div>
    </header>
    <div class="mobile-header">
        <span style="color: #8B44FF;">BRAVO TEAM</span>
        <img type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" src="/source/icons/Menu.svg" alt="menu">
    </div>
    <div class="collapse" id="collapseExample">
        <div class="collapse-menu">
            <button>
                <img src="/source/icons/User.svg" alt="user">
                <span>PROFILE</span>
            </button>
            <button>
                <img src="/source/icons/Book.svg" alt="history">
                <span>HISTORY</span>
            </button>
            <button>
                <img src="/source/icons/person-lines-fill.svg" alt="contacts">
                <span>CONTACTS</span>
            </button>
            <button>
                <img src="/source/icons/question-lg.svg" alt="questions">
                <span>Q & A</span>
            </button>
        </div>
    </div>
</div>
