.style-wrapper{

    span, h1, a {
        color: white;
    }

    h1 {
        position: absolute;
        width: 50vw;
        top: 30vh;
        left: 10vw;
        font-weight: 600;
        font-size: var(--s50);
    }

    .btn-purple {
        background-color: #7000FF;
        border: none;
        width: 20vw;
        height: 7vh;
        border-radius: 5px;

        span {
            font-size: var(--s30);
            font-weight: 600;
        }
    }

    .login {
        border: 2px solid white;
        border-radius: 20px;
        width: 30vw;
        margin: 10vh 8vw 0 auto;
        padding: 6vh 0 2vh 0;

        img {
            position: absolute;
            right: 1vw;
            bottom: 1.25vh;
        }

        .paragraph {
            font-size: var(--s40);
            font-weight: 500;
        }

        button {
            width: 15vw;
            height: 5vh;
            margin-bottom: 1vh;

            span {
                font-size: var(--s18);
                font-weight: 500;
            }
        }

        input {
            color: white !important;
            font-size: var(--s16) !important;
            font-weight: 600 !important;
            width: 20vw;
            background-color: transparent;
            border: 2px solid white;
            margin-top: 3vh;
        }

        input:focus {
            background-color: transparent;
        }

        input::placeholder {
            font-size: var(--s16);
            color: white;
            font-weight: 600;
        }

        a {
            text-decoration: none;
            font-size: var(--s14);
            font-weight: 600;
        }
    }
}
@media screen and (max-width: 1250px) {
    :root {
        --s50: 40px;
    }

    .btn-purple {
        height: 5vh !important;
    }

    h1 {
        width: 40vw !important;
    }

    .login {
        width: 40vw !important;

        input {
            width: 30vw !important;
        }

        button {
            width: 20vw !important;
        }
    }
}

@media screen and (max-width: 980px) {
    .style-wrapper {
        --s30: 18px;
        --s50: 38px;
    }

    h1 {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: 80vw !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh !important;
        text-align: center;
    }

    .login {
        margin: 5vh auto 0 auto !important;
        padding-top: 4vh !important;
        width: 60vw !important;

        input {
            width: 50vw !important;
        }

        button {
            width: 35vw !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .style-wrapper {
        --s14: 18px;
        --s16: 20px;
        --s18: 25px;
        --s30: 30px;
        --s50: 40px;
    }

    .login {
        margin: 5vh auto 0 auto !important;
        padding-top: 4vh !important;
        width: 80vw !important;

        input {
            width: 70vw !important;
            height: 5vh;
        }

        img {
            right: 2vw !important;
            width: 4vw !important;
            cursor: pointer;
        }

        button {
            width: 50vw !important;
            border-radius: 10px !important;
        }
    }
}

@media screen and (max-height: 600px) {
    .style-wrapper {
        --s18: 25px;
        --s20: 25px;
    }

    .btn-purple {
        height: 15vh !important;
    }

    .login {
        input {
            height: 10vh !important;
        }

        @media screen and (min-width: 768px) {
            img {
                width: 3vw !important;
                bottom: 1.5vh !important;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    :root {
        --s14: 14px;
        --s16: 16px;
        --s18: 20px;
        --s24: 20px;
        --s30: 30px;
        --s40: 30px;
        --s50: 20px;
    }

    .login {
        img {
            width: 5vw !important;
        }
    }
}