<div class="style-wrapper">
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, fugit!</h1>
    <div style="height: 100%; display: block;">

        <div class="login d-flex flex-column align-items-center mb-5">
            <span class="paragraph" style="margin-bottom: 2vh;">FORGOT PASSWORD</span>
                <div class="d-flex flex-column">
                    <input type="text" class="form-control" placeholder="email">
                @if (activateCodeField)
                {
                    <input type="text" class="form-control" placeholder="code">
                }
                </div>
            
            <button @onclick="()=> activateCodeField = true" class="btn-purple mt-4"><span>SEND</span></button>
            <span style="font-weight: 500;">or</span>
            <button style="border: none; background-color: transparent">
                <span @onclick="ShowLogin">login</span>
            </button>
        </div>
    </div>
</div>
@code{
    [Parameter]
    public EventCallback ShowLogin { get; set; }
    [Parameter] 
    public EventCallback ShowNewPassword { get; set; }
    private bool activateCodeField = false;

}
